@import "../variables.scss";
@import "../mixins.scss";

.index-page {

    main {
        position: fixed;
        width: 100vw;
        height: var(--vh);
        background: var(--background-0);
        display: flex;
        justify-content: center;
        align-items: center;

        // .menu-overlay {
        //     position: fixed;
        //     width: 100vw;
        //     height: 100vh;
        //     background: rgba(20, 20, 20, 0.498);
        //     z-index: 5;
        //     top: 0;
        //     left: 0;
        //     backdrop-filter: blur(5px);

        // }

        .intro-card {
            .intro-content {
                width: max-content;
                height: fit-content;
                position: absolute;
                box-sizing: content-box;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;

                .my-title {
                    color: var(--color-0);

                    // ********************************************************************************************** max-458 ***************************************************/
                    @include breakpoint(max-458) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .name {
                        em {
                            font-size: 48px;
                            font-family: 'Gemunu Libre', sans-serif;

                            // ********************************************************************************************** max-1106 ***************************************************/
                            @include breakpoint(max-1106) {
                                font-size: 30px;
                            }

                            // ********************************************************************************************** max-842 ***************************************************/
                            @include breakpoint(max-842) {
                                font-size: 20px;
                            }

                            // ********************************************************************************************** max-458 ***************************************************/
                            @include breakpoint(max-458) {
                                font-size: 15px;
                            }

                            // ********************************************************************************************** max-306 ***************************************************/
                            @include breakpoint(max-306) {
                                font-size: 8vw
                            }
                        }
                    }

                    .title {
                        margin-left: 50px;
                        padding-left: 0;
                        font-size: 78px;
                        font-family: 'Gemunu Libre', sans-serif;

                        em {
                            font-size: 30px;
                            font-family: 'prompt', sans-serif;

                            // ********************************************************************************************** max-1106 ***************************************************/
                            @include breakpoint(max-1106) {
                                font-size: 20px;
                            }

                            // ********************************************************************************************** max-842 ***************************************************/
                            @include breakpoint(max-842) {
                                font-size: 10px;
                            }

                            // ********************************************************************************************** max-306 ***************************************************/
                            @include breakpoint(max-306) {
                                font-size: 3vw
                            }

                        }

                        // ********************************************************************************************** max-1106 ***************************************************/
                        @include breakpoint(max-1106) {
                            font-size: 60px;
                        }

                        // ********************************************************************************************** max-842 ***************************************************/
                        @include breakpoint(max-842) {
                            font-size: 30px;
                        }

                        // ********************************************************************************************** max-458 ***************************************************/
                        @include breakpoint(max-458) {
                            font-size: 20px;
                            margin: 0;
                        }

                        // ********************************************************************************************** max-306 ***************************************************/
                        @include breakpoint(max-306) {
                            font-size: 8vw
                        }
                    }
                }

                .description {
                    margin: auto;
                    margin-top: 15vh;
                    max-width: 500px;
                    text-align: center;
                    color: var(--color--1);

                    // ********************************************************************************************** max-842 ***************************************************/
                    @include breakpoint(max-842) {
                        max-width: 300px;
                        margin-top: 6vh;
                    }

                    // ********************************************************************************************** max-306 ***************************************************/
                    @include breakpoint(max-306) {
                        max-width: 95vw;
                    }
                }
            }
        }

        .concerns-card {
            .concerns-content {
                position: absolute;
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: auto;
                top: 0;
                bottom: 0;
                height: calc(100% - 150px);
                color: var(--color-0);
                padding-bottom: 12vh;
                overflow: scroll;

                .topic {
                    display: flex;
                    justify-content: center;
                    font-family: 'Gemunu Libre', sans-serif;
                }

                .details {
                    display: flex;
                    justify-content: space-evenly;

                    // ********************************************************************** max-1129 **************
                    @include breakpoint(max-1129) {
                        flex-direction: column;
                        align-items: center;
                    }

                    .concern-column {
                        max-width: 280px;

                        // ********************************************************************** max-1129 **************
                        @include breakpoint(max-1129) {
                            max-width: 95%;
                        }

                        .illustration {
                            display: flex;
                            justify-content: center;
                        }

                        .description {
                            margin: 20px 0;

                            h3 {
                                text-align: center;
                                font-family: 'Gemunu Libre', sans-serif;

                                // ********************************************************************** max-1129 **************
                                @include breakpoint(max-1129) {
                                    margin: 0;
                                    margin-top: 10px;
                                }
                            }

                            p {
                                margin: 5px 0;
                                color: var(--color--1);
                            }
                        }
                    }
                }
            }
        }

        .projects-card {
            // display: none;
            position: relative;

            .content {
                height: 100%;
                max-height: calc(100% - 110px);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 20px;


                // * the styling for the project component in this component has been defined
                // * in the project.scss file
            }
        }

        .skills-card {
            // display: none;

            .content {
                color: var(--color-0);
                display: flex;
                flex-direction: column;
                align-items: center;

                 // ***************************************** max-1222 ****************************
                 @include heightBreakpoint(max-1222){
                    overflow: scroll;
                    height: calc(100vh - 230px);
                 }
                 // ***************************************** max-733 ****************************
                 @include heightBreakpoint(max-733){
                    height: calc(100vh - 200px);
                 }

                h3,
                h2 {
                    font-family: "Gemunu Libre", sans-serif;
                }


                .skills {
                    width: 100%;
                    max-width: 1024px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;

                    // ***************************************** max-842 ****************************
                    @include breakpoint(max-842){
                        grid-template-columns: 100%;
                        row-gap: 2vh;
                    }

                    .skill {
                        // width: 280px;
                        justify-self: center;

                        h3{
                            text-align: center;
                        }
                        ul{
                            width: fit-content;
                            margin: auto;

                            li{
                                margin: 5px 0;
                            }
                        }
                    }
                }
            }
        }

        .contact-card {

            .content {
                color: var(--color-0);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: calc(100% - 125px);

                // ********************************* max-733 ************************************
                @include heightBreakpoint(max-733){
                    justify-content: flex-start;
                    overflow: scroll;
                }

                h2 {
                    margin: 0;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;


                    .inputs {
                        display: flex;
                        flex-direction: column;

                        label {
                            margin-bottom: 20px;
                            display: flex;
                            flex-direction: column;

                            input,
                            textarea {
                                margin-top: 5px;
                                background: transparent;
                                border-radius: 10px;
                                outline: none;
                                border: 2px solid var(--color--1);
                                padding: 2%;
                                color: var(--color-0)
                            }
                        }
                    }

                    .buttons {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        button {
                            outline: 0;
                            background: transparent;
                            color: var(--color-0);
                            border: 2px solid var(--color-1);
                            padding: 5px;
                            border-radius: 7px;
                        }

                        div {
                            margin: 10px 0;
                            font-size: 10px;
                            color: var(--color--1);
                        }
                    }
                }

            }
        }
    }
}

@keyframes change-color {
    0% {
        background: white;
    }

    10% {
        background: green;
    }

    20% {
        background: red;
    }

    30% {
        background: violet;
    }

    40% {
        background: blue;
    }

    50% {
        background: #1e1e1e1e;
    }
}